@model QuoteGeneratorAdmin

<div>
    <h1 class="text-info">QuoteGenerator Admin V1.0</h1>
    <h5 class="text-info">Project II : INET2005 Web Appplication Programming I</h5>

    <h3 id="addHeader" class="text-info">Add quote to quote generator</h3>

    <form enctype="multipart/form-data" asp-controller="QuoteAdmin" asp-action="AddQuote">
        <div class="form-row">
            <div class="col-md-6">
                <label>Author:</label>
                <input type="text" class="form-control" asp-for="@Model.author" name="author" value="@Model.author" maxlength="100" placeholder="Author"/>
                <span asp-validation-for="@Model.author" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <label>Quote:</label>
                <textarea type="text" class="form-control" asp-for="@Model.quote" name="quote" maxlength="100" placeholder="Insert Quote here"></textarea>
                <span asp-validation-for="@Model.quote" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <label>Link:</label>
                <input type="text" class="form-control" asp-for="@Model.permalink" name="permalink" value="@Model.permalink" maxlength="100" placeholder="Link to Quote"/>
                <span asp-validation-for="@Model.permalink" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row" style="padding-top: 8px; padding-left: 5px;">
            <label class="btn btn-info">
                Browse for Quote Image<input id="btnUpload" type="file" asp-for="@Model.image" name="selectedFile" hidden onchange="getFileData(this);"/>
            </label>
            <span id="fileNameToUpload"></span>
        </div>
        
        <div class="form-row" style="padding-left: 5px;">
            <button type="submit" class="btn btn-info" name="submit">Submit</button>
            <span class="text-danger">@TempData["feedback"]</span>
            <span class="text-success">@TempData["success"]</span>
        </div>
    </form>

    <h3 id="deleteHeader" class="text-info">Delete Quote from Quote Generator</h3>

    <form asp-controller="QuoteAdmin" asp-action="DeleteQuote">
        <div id="quotesContainer">
            <select id="lstQuotes" class="btn btn-info" asp-for="@Model.QuoteID" asp-items="@Model.QuotesList" style="max-width: 550px !important;"></select>
        </div>
        <div id="btnDelete" class="form-row">
            <button type="submit" class="btn btn-info">Delete</button>
        </div>
    </form>

</div>